$main_color: #F43453
$eye_care: #666
body
  background-color: $eye_care
#landingPage
  background-color: #333
  min-height: 100vh
  min-width: 100vw
  // padding-top: $navbar_height
  .magicCube
    width: 40px
.hand_left
  width: 300px

