[data-name = "layer1"]
  transform-origin: 65% 60%
  animation: finger_m_15deg 9s infinite
[data-name = "layer2"]
  transform-origin: 55% 55%
  animation: finger10deg 7s infinite
[data-name = "layer3"]
  transform-origin: 45% 50%
  animation: finger_m_10deg 5s infinite
