svg {
  transform: translateX(-10%); }

[data-name="finger4"] {
  transform-origin: 50% 30%;
  animation: finger30deg 1.5s infinite; }

[data-name="finger3"] {
  transform-origin: 43% 40%;
  animation: finger30deg 3s infinite; }

[data-name="finger2"] {
  transform-origin: 40% 55%;
  animation: finger30deg 1s infinite; }

[data-name="finger1"] {
  transform-origin: 30% 75%;
  animation: finger_m_10deg 2s infinite; }
