svg {
  transform: translateY(3%);
  bottom: 0px; }

[data-name="finger4"] {
  transform-origin: 35% 60%;
  animation: finger_m_10deg 1.5s infinite; }
  @media all and (max-width: 768px) {
    [data-name="finger4"] {
      animation: none; } }

[data-name="finger3"] {
  transform-origin: 70% 80%;
  animation: finger_m_10deg 3s infinite; }
  @media all and (max-width: 768px) {
    [data-name="finger3"] {
      animation: none; } }

[data-name="finger2"] {
  transform-origin: 60% 70%;
  animation: finger10deg 1s infinite; }
  @media all and (max-width: 768px) {
    [data-name="finger2"] {
      animation: none; } }

[data-name="finger1"] {
  transform-origin: 70% 75%;
  animation: finger_m_10deg 2s infinite; }
  @media all and (max-width: 768px) {
    [data-name="finger1"] {
      animation: none; } }
