@import ../lib/sass/_variable
@import ../lib/sass/mixin

#BgImg
  z-index: 0
  position: absolute
  top: 0px
  right: 0px
main#indexPage
  top: 0px
  section
    padding: 0px $main_padding
    min-height: 100vh
    width: 100%
    display: flex
    flex-direction: column
    @media all and (max-width: $break-medium)
      padding: 0px $main_padding/2
    h2.sectionTitle
      text-align: center      
      padding-top: $title_padding
      @media all and (max-width: $break-medium)
        padding-top: 0px
    h2.subTitle
      text-align: center
  .bgDiv
    position: absolute
    z-index: -1
    width: 100vw
    height: 500px
    transform: skewY(-3deg)
    background-color: $header_color
  #contact
    padding-bottom: 100px
    height: fit-content
