@import ../lib/sass/_variable
@import ../lib/sass/mixin
//main
$header_height: 60px
$main_padding: 20vw
//section
$title_padding: 60px
//color
$icon_color: rgba(73, 97, 220, 1)
$icon_color: red
$icon_img: linear-gradient(135deg, rgba(106, 152, 240, 1) 0%,  rgba(0, 0, 0, 0) 99%)
#BgImg
  z-index: 0
  position: absolute
  top: 0px
  right: 0px
main#indexPage
  top: 0px
  section
    padding: 0px $main_padding
    min-height: 100vh
    width: 100%
    display: flex
    flex-direction: column
    @media all and (max-width: $break-medium)
      padding: 0px $main_padding/2
    h2.sectionTitle
      text-align: center      
      padding-top: $title_padding
      @media all and (max-width: $break-medium)
        padding-top: 0px
    h2.subTitle
      text-align: center
  #home
    .nameCard
      flex: 1
      width: fit-content
      padding-top: $header_height
      // max-height: 100vh
      display: flex
      flex-direction: column
      justify-content: center
  .bgDiv
    position: absolute
    z-index: -1
    width: 100vw
    height: 500px
    transform: skewY(-3deg)
    background-color: rgb(35, 35, 35)
  #aboutMe
    width: 100%
    .container
      width: 100%
      display: flex
      height: fit-content
      align-items: center
      justify-content: space-around
      @media all and (max-width:$break_medium) 
        flex-direction: column
        align-items: center
      img
        width: auto
        height: auto
        max-width: 250px
        max-height: 250px
        border-radius: 50%
      p
        padding: 20px
        width: fit-content
        height: fit-content
    .skillContainer
      width: 100%
      display: flex
      flex-wrap: wrap
      justify-content: space-around
      a
        text-decoration: none
        color: white
        padding: 5px
        border-radius: 5px
        display: flex
        flex-direction: column
        align-items: center
        justify-content: center
        border: solid 1px #666
        svg
          width: 50px
          height: 50px
          margin: auto
          margin-right: 5px
        p
          margin: auto
          padding: 0px
          height: fit-content
      #react svg 
        filter: drop-shadow(0px 0px 25px rgba(97, 218, 251, 1))
        animation: breathLight 1.5s infinite
      #react svg path
        fill: rgba(97, 218, 251, 1)
      #javascript svg
        filter: drop-shadow(0px 0px 25px rgba(241, 218, 31, 0.5))
        animation: breathLight 2s infinite     
      #javascript svg path
        fill: rgba(241, 218, 31, 1)
      #express svg
        filter: drop-shadow(0px 0px 25px rgba(140, 200, 75, 1))
        animation: breathLight 2.5s infinite        
      #webpack svg
        filter: drop-shadow(0px 0px 25px rgba(141, 213, 249, 0.5))
        animation: breathLight 1.2s infinite
      #gulp svg
        filter: drop-shadow(0px 0px 25px rgba(224, 73, 73, 1))
        animation: breathLight 1.5s infinite
      #sass svg
        filter: drop-shadow(0px 0px 25px rgba(212, 100, 152, 1))
        animation: breathLight 3s infinite
      #pug svg
        filter: drop-shadow(0px 0px 25px rgba(237, 205, 166, 0.5))
        animation: breathLight 2s infinite
      #reactRouter svg
        filter: drop-shadow(0px 0px 25px rgba(86, 216, 249, 1))
        animation: breathLight 2s infinite
      @keyframes breathLight
        50%
          filter: drop-shadow(0px 0px 25px rgba(0, 0, 0, 0))
  #projects
  #contact
    padding-bottom: 100px
    height: fit-content
