<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Document
    link(rel="stylesheet", href="css/all_part.css")
    link(rel="stylesheet", href="css/hand_bottom.css")
  body
    .hand_right_top
      include ../images/hand_bottom.svg