@import ../lib/sass/_variable

.LanguageSelect
  cursor: pointer
  &:hover
    svg path
      fill: $a_hover_color
  svg
    width: 40px
    height: 40px
    path
    fill: white
    transition-duration: 0.2s
