@import ../lib/sass/_variable
@import ../lib/sass/_mixin
$project_min_height: 300px
.project
  height: fit-content
  min-height: $project_min_height
  background: #999
  margin-bottom: 20px
  border-radius: 10px
  padding: 10px
  display: flex
  justify-content: space-between
  @media all and ( max-width: $break_medium )
    flex-direction: column    
  .sub_container
    display: flex
    flex-direction: column
    max-width: 50%
    @media all and ( max-width: $break_medium )
      flex-direction: row
      max-width: 100%
    .content
      display: flex
      flex-direction: column
    ul#ul_row
      margin: 0px
      padding: 0px
      width: fit-content
      display: flex
      @media all and ( max-width: $break_small )
        flex-wrap: wrap
      li.li_column
        display: flex
        flex-direction: column
        a
          margin-left: 10px
          white-space: nowrap
  .preview
    align-self: flex-end
    height: $project_min_height
    flex: 1
    display: flex
    justify-content: flex-end
    transform: translateX(20px) translateY(20px)
    overflow: hidden
    border-radius: 20px
    filter: drop-shadow(-5px -5px 10px white)
    img
      border-radius: 20px
      height: 100%
      margin: 0px
      padding: 0px
      @media all and ( max-width: $break_medium )
        height: auto
        width: 100%