html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title landing page
    link(rel="stylesheet", href="landingPage/css/landingPage.css")
  body
    h1 正在施工中
    //- .hand_left
    //-   include images/hand_left.svg
    //- .hand_right_down
      //- include images/hand_right_down.svg
    .hand_right_top
      include images/hand_right_top.svg