html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title landing page
    link(rel="stylesheet", href="landingPage/css/landingPage.css")
  body
    .band
      .band1
    iframe(src="landingPage/hand_right_down.html", frameborder="0" ,id="hand_right_down")
    iframe(src="landingPage/hand_left.html", frameborder="0" ,id="hand_left")
    iframe(src="landingPage/hand_right_top.html", frameborder="0" ,id="hand_right_top")
    iframe(src="landingPage/magic_cube.html", frameborder="0" id="magic_cube")
